[alias]
	cp = cherry-pick
	c = commit -v
	f = fetch
	m = merge
	rb = rebase
	rs = reset
	ck = checkout
[credential]
	helper = cache --timeout=99999999
[core]
	editor = nvim
[user]
	email = karan@pixelos.net
	name = Karan Parashar
[commit]
	verbose = true
