[alias]
	cp = cherry-pick
	c = commit -v
	f = fetch
	m = merge
	rb = rebase
	rs = reset
	ck = checkout
[core]
	editor = nvim
[user]
	email = whyredfire@gmail.com
	name = Karan Parashar
[commit]
	verbose = true
